extends layout

block content
  script( type="text/javascript", src="/javascripts/circuit.js" )
  link( type="text/css", rel="stylesheet", href="/stylesheets/gui.css" )
  link( type="text/css", rel="stylesheet", href="/stylesheets/public.css" )
  include hack



