doctype 5
html
  head
    title= title
    link( type="text/css", rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/overcast/jquery-ui.css" )
    script( type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" )
    script( type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" )
    script( type="text/javascript", src="/javascripts/editor_hack.js" )
    script( type="text/javascript", src="/javascripts/editor_utils_hack.js" )
  body
    block content
